@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Mukta:200,300,400,500,600,700,800&display=swap);





body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 4.25rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Mukta', sans-serif;
  font-size: 3rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Mukta', sans-serif;
  font-size: 2.2rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 3.52rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.76rem;
    font-size: calc( 1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #0fb60d !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #0fb60d !important;
  border-color: #0fb60d !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #096f08 !important;
  border-color: #096f08 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #096f08 !important;
  border-color: #096f08 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #075706;
  color: #075706;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #0fb60d;
  border-color: #0fb60d;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #0fb60d !important;
  border-color: #0fb60d !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #0fb60d !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #075706 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #0fb60d;
  border-color: #0fb60d;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #0fb60d;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #52f350;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.form-control {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #0fb60d;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #0fb60d;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #0fb60d;
}
/* Headers*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #0fb60d;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #0fb60d;
  border-bottom-color: #0fb60d;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #0fb60d !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff3366 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%230fb60d' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-t0amdiI2Fy {
  padding-top: 90px;
  padding-bottom: 30px;
  background-color: #218104;
}
.cid-t0amdiI2Fy P {
  color: #767676;
}
.cid-t0amdiI2Fy H1 {
  color: #ffffff;
}
.cid-t0amdiI2Fy .mbr-text,
.cid-t0amdiI2Fy .mbr-section-btn {
  color: #ffee17;
}
.cid-sa1IOSVBKt {
  background: #ffffff;
  padding-top: 75px;
  padding-bottom: 75px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}
.cid-sa1IOSVBKt .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-sa1IOSVBKt .video-block {
    width: 100% !important;
  }
}
.cid-rYa3t28bPA {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #218104;
}
.cid-rYa3t28bPA .line {
  background-color: #149dcc;
  color: #149dcc;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-rYa3t28bPA .section-text {
  padding: 2rem 0;
  color: #ffffff;
}
.cid-rYa3t28bPA .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-rYa3t28bPA .inner-container {
    width: 100% !important;
  }
}
.cid-rYa2AGdXHu {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rYa2AGdXHu .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-rYa2AGdXHu .section-text {
  padding: 2rem 0;
}
.cid-rYa2AGdXHu .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-rYa2AGdXHu .inner-container {
    width: 100% !important;
  }
}
.cid-rrO9cE2B8O {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #218104;
}
.cid-rrO9cE2B8O .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-rrO9cE2B8O .section-text {
  padding: 2rem 0;
  color: #ffffff;
}
.cid-rrO9cE2B8O .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-rrO9cE2B8O .inner-container {
    width: 100% !important;
  }
}
.cid-rrNLRVTmnv {
  padding-top: 90px;
  padding-bottom: 30px;
  background-image: url("../../../assets/images/sabonetes.cosmeticosartesanais-54247676-123386165429558-988503543967926000-n-1079x565.jpg");
}
.cid-rrNLRVTmnv h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-rrNLRVTmnv p {
  color: #767676;
  text-align: left;
}
.cid-rrNLRVTmnv .card-box {
  padding-top: 2rem;
}
.cid-rrNLRVTmnv .card-wrapper {
  height: 100%;
}
.cid-rrNLRVTmnv .card-title {
  text-align: center;
}
.cid-rwI6hXtNzi {
  padding-top: 45px;
  padding-bottom: 15px;
  background-color: #218104;
}
.cid-rAz4jhjmjW {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rAz4jhjmjW .card-box {
  background-color: #218104;
  padding: 2rem;
}
.cid-rAz4jhjmjW h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-rAz4jhjmjW p {
  color: #767676;
  text-align: left;
}
.cid-rAz4jhjmjW .card-wrapper {
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-rAz4jhjmjW .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-rAz4jhjmjW .card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.cid-rAz4jhjmjW P {
  color: #ffffff;
}
.cid-rScQl2yZ6Z {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rScQl2yZ6Z .line {
  background-color: #232323;
  color: #232323;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-rScQl2yZ6Z .section-text {
  padding: 2rem 0;
  color: #232323;
}
.cid-rScQl2yZ6Z .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-rScQl2yZ6Z .inner-container {
    width: 100% !important;
  }
}
.cid-rwHV3xDqd1 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #218104;
}
.cid-rwHV3xDqd1 .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-rwHV3xDqd1 .section-text {
  padding: 2rem 0;
  color: #ffffff;
}
.cid-rwHV3xDqd1 .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-rwHV3xDqd1 .inner-container {
    width: 100% !important;
  }
}
.cid-rwHVr1gYXW {
  padding-top: 75px;
  padding-bottom: 45px;
  background-image: url("../../../assets/images/design-sem-nome-1920x1080.jpg");
}
.cid-rwHVr1gYXW h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-rwHVr1gYXW p {
  color: #767676;
  text-align: left;
}
.cid-rwHVr1gYXW .card-box {
  padding-top: 2rem;
}
.cid-rwHVr1gYXW .card-wrapper {
  height: 100%;
}
.cid-rwHVr1gYXW P {
  text-align: center;
  color: #465052;
}
.cid-rJI3KLrxS0 {
  background: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
}
.cid-rJI3KLrxS0 .image-block {
  margin: auto;
}
.cid-rJI3KLrxS0 figcaption {
  position: relative;
}
.cid-rJI3KLrxS0 figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-rJI3KLrxS0 .image-block {
    width: 100% !important;
  }
}
.cid-sSNsl2Lw2J {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-sSNsl2Lw2J .mbr-section-subtitle {
  color: #767676;
}
.cid-sSNsl2Lw2J H2 {
  color: #d70036;
}
.cid-rwJoLhGIup {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rwJoLhGIup H2 {
  color: #ef031d;
}
.cid-rwJoLhGIup .mbr-section-subtitle {
  color: #232323;
}
.cid-rAbuC08xyn {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #232323;
}
.cid-rAbuC08xyn H2 {
  color: #ffffff;
}
.cid-rAbuC08xyn .mbr-section-subtitle {
  color: #232323;
}
.cid-s7i603ZYRb {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-s7i603ZYRb .mbr-section-subtitle {
  color: #232323;
}
.cid-s7i603ZYRb H2 {
  color: #8500e0;
}
.cid-s2e8BKm6dM {
  background: #ffffff;
  padding-top: 15px;
  padding-bottom: 45px;
}
.cid-s2e8BKm6dM .image-block {
  margin: auto;
}
.cid-s2e8BKm6dM figcaption {
  position: relative;
}
.cid-s2e8BKm6dM figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-s2e8BKm6dM .image-block {
    width: 100% !important;
  }
}
.cid-s2eeFqG3dy {
  background: #ffffff;
  padding-top: 15px;
  padding-bottom: 30px;
}
.cid-s2eeFqG3dy .image-block {
  margin: auto;
}
.cid-s2eeFqG3dy figcaption {
  position: relative;
}
.cid-s2eeFqG3dy figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-s2eeFqG3dy .image-block {
    width: 100% !important;
  }
}
.cid-rScRETTxLh {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/mulher-pensativa-2-800x563.jpg");
}
.cid-rScRETTxLh H1 {
  color: #fc8807;
}
.cid-rScRETTxLh .mbr-text,
.cid-rScRETTxLh .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-rScRETTxLh H3 {
  color: #ff00ac;
}
.cid-rScRETTxLh B {
  color: #0afc07;
}
.cid-rwJjMRGuj5 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rwJjMRGuj5 .line {
  background-color: #232323;
  color: #232323;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-rwJjMRGuj5 .section-text {
  padding: 2rem 0;
  color: #218104;
}
.cid-rwJjMRGuj5 .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-rwJjMRGuj5 .inner-container {
    width: 100% !important;
  }
}
.cid-ryu9VQ2EwQ {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-ryu9VQ2EwQ h3 {
  text-align: center;
}
.cid-ryu9VQ2EwQ .mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
}
.cid-ryu9VQ2EwQ .mbr-content-text {
  color: #767676;
}
.cid-ryu9VQ2EwQ .panel-item {
  background: #ffffff;
}
.cid-ryu9VQ2EwQ .card {
  word-wrap: break-word;
}
.cid-ryu9VQ2EwQ .mbr-iconfont {
  font-size: 80px;
  color: #149dcc;
}
.cid-s2eewjzuTi {
  padding-top: 90px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-s2eewjzuTi h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-s2eewjzuTi p {
  color: #767676;
  text-align: left;
}
.cid-s2eewjzuTi .card-box {
  padding-top: 2rem;
}
.cid-s2eewjzuTi .card-wrapper {
  height: 100%;
}
.cid-s2eewjzuTi .card-title {
  text-align: center;
}
.cid-s2eewjzuTi P {
  text-align: center;
}
.cid-s3pfSfrnn1 {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}
.cid-s3pfSfrnn1 .image-block {
  margin: auto;
}
.cid-s3pfSfrnn1 figcaption {
  position: relative;
}
.cid-s3pfSfrnn1 figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-s3pfSfrnn1 .image-block {
    width: 100% !important;
  }
}
.cid-s3pg3sQUMj {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 60px;
}
.cid-s3pg3sQUMj .image-block {
  margin: auto;
}
.cid-s3pg3sQUMj figcaption {
  position: relative;
}
.cid-s3pg3sQUMj figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-s3pg3sQUMj .image-block {
    width: 100% !important;
  }
}
.cid-rwOQk5FSpd {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rwOQk5FSpd .mbr-section-subtitle {
  color: #232323;
}
.cid-rwOQk5FSpd H2 {
  color: #232323;
}
.cid-s2egBgrvoX {
  background: #ffffff;
  padding-top: 30px;
  padding-bottom: 45px;
}
.cid-s2egBgrvoX .image-block {
  margin: auto;
}
.cid-s2egBgrvoX figcaption {
  position: relative;
}
.cid-s2egBgrvoX figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-s2egBgrvoX .image-block {
    width: 100% !important;
  }
}
.cid-s2egD1xzQh {
  background: #ffffff;
  padding-top: 15px;
  padding-bottom: 30px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}
.cid-s2egD1xzQh .image-block {
  margin: auto;
}
.cid-s2egD1xzQh figcaption {
  position: relative;
}
.cid-s2egD1xzQh figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-s2egD1xzQh .image-block {
    width: 100% !important;
  }
}
.cid-rzmXEX2Hy4 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ff952a;
}
@media (min-width: 992px) {
  .cid-rzmXEX2Hy4 .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rzmXEX2Hy4 .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-rzmXEX2Hy4 .mbr-text {
  color: #ffffff;
}
.cid-rJI7fBS8Pa {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #fb034e;
}
.cid-rwIRkCyQCI {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}
.cid-rwIRkCyQCI .image-block {
  margin: auto;
}
.cid-rwIRkCyQCI figcaption {
  position: relative;
}
.cid-rwIRkCyQCI figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-rwIRkCyQCI .image-block {
    width: 100% !important;
  }
}
.cid-ryzN14gpQ2 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-ryzN14gpQ2 .mbr-section-subtitle {
  color: #232323;
}
.cid-ryzN14gpQ2 H2 {
  color: #ffffff;
}
.cid-rJI6JR84Lf {
  background: #ffffff;
  padding-top: 30px;
  padding-bottom: 15px;
}
.cid-rJI6JR84Lf .image-block {
  margin: auto;
}
.cid-rJI6JR84Lf figcaption {
  position: relative;
}
.cid-rJI6JR84Lf figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-rJI6JR84Lf .image-block {
    width: 100% !important;
  }
}
.cid-rwJlXHhq9q {
  padding-top: 0px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-rwJlXHhq9q H2 {
  color: #232323;
}
.cid-rwJlXHhq9q .mbr-section-subtitle {
  color: #ffffff;
}
.cid-rJI5j0gV6D {
  background: #ffffff;
  padding-top: 30px;
  padding-bottom: 45px;
}
.cid-rJI5j0gV6D .image-block {
  margin: auto;
}
.cid-rJI5j0gV6D figcaption {
  position: relative;
}
.cid-rJI5j0gV6D figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-rJI5j0gV6D .image-block {
    width: 100% !important;
  }
}
.cid-rzmczF742U {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rzmczF742U .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-rzmczF742U .section-text {
  padding: 2rem 0;
  color: #232323;
}
.cid-rzmczF742U .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-rzmczF742U .inner-container {
    width: 100% !important;
  }
}
.cid-rwJp7kd3l1 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ff952a;
}
@media (min-width: 992px) {
  .cid-rwJp7kd3l1 .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rwJp7kd3l1 .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-rwJp7kd3l1 .mbr-text {
  color: #ffffff;
}
.cid-rwOL87IRSc {
  padding-top: 60px;
  padding-bottom: 15px;
  position: relative;
  background-color: #ffffff;
}
.cid-rwOL87IRSc p {
  color: #767676;
}
.cid-rwOL87IRSc .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-rwOL87IRSc .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-rwOL87IRSc .card .card-header a.panel-title {
  margin-bottom: 0;
  margin-top: -1px;
  font-weight: 500;
  font-style: normal;
  display: block;
  text-decoration: none !important;
  line-height: normal;
}
.cid-rwOL87IRSc .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-rwOL87IRSc .card .card-header a.panel-title h4 {
  border: 1px solid #dfdfdf;
  padding: 1.3rem 2rem;
  margin-bottom: 0;
}
.cid-rwOL87IRSc .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-rwOL87IRSc H4 {
  color: #232323;
}
.cid-rwOL87IRSc .panel-text {
  color: #1b160e;
}
.cid-rwOL87IRSc H2 {
  color: #232323;
}
.cid-rykDeQKmiF {
  padding-top: 0px;
  padding-bottom: 60px;
  position: relative;
  background-color: #ffffff;
}
.cid-rykDeQKmiF p {
  color: #767676;
}
.cid-rykDeQKmiF .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-rykDeQKmiF .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-rykDeQKmiF .card .card-header a.panel-title {
  margin-bottom: 0;
  margin-top: -1px;
  font-weight: 500;
  font-style: normal;
  display: block;
  text-decoration: none !important;
  line-height: normal;
}
.cid-rykDeQKmiF .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-rykDeQKmiF .card .card-header a.panel-title h4 {
  border: 1px solid #dfdfdf;
  padding: 1.3rem 2rem;
  margin-bottom: 0;
}
.cid-rykDeQKmiF .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-rykDeQKmiF H4 {
  color: #232323;
}
.cid-rykDeQKmiF .panel-text {
  color: #232323;
}
.cid-rwOPeskq89 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ff952a;
}
@media (min-width: 992px) {
  .cid-rwOPeskq89 .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rwOPeskq89 .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-rwOPeskq89 .mbr-text {
  color: #ffffff;
}
.cid-t0anc5sjx2 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-t0anc5sjx2 .mbr-section-subtitle {
  color: #dd0000;
}
.cid-ryzUp73z0K {
  background: #ffffff;
  padding-top: 30px;
  padding-bottom: 15px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}
.cid-ryzUp73z0K .image-block {
  margin: auto;
}
.cid-ryzUp73z0K figcaption {
  position: relative;
}
.cid-ryzUp73z0K figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-ryzUp73z0K .image-block {
    width: 100% !important;
  }
}
.cid-rwOQLiKEbZ {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rwOQLiKEbZ H2 {
  color: #1b160e;
}
.cid-rwOQLiKEbZ .mbr-section-subtitle {
  color: #1b160e;
}
.cid-rwOSaHjSYh {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 30px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}
.cid-rwOSaHjSYh .image-block {
  margin: auto;
}
.cid-rwOSaHjSYh figcaption {
  position: relative;
}
.cid-rwOSaHjSYh figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-rwOSaHjSYh .image-block {
    width: 100% !important;
  }
}
.cid-rwOTMrjJPQ {
  padding-top: 30px;
  padding-bottom: 45px;
  background-color: #232323;
}
.cid-rwOTMrjJPQ .media-container-row .mbr-text {
  color: #ffffff;
}
.cid-rB9vPlOl9X {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-rB9vPlOl9X .mbr-text,
.cid-rB9vPlOl9X .mbr-section-btn {
  color: #232323;
  text-align: left;
}
.cid-rB9Xlwkiqb {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #ff1111;
}
.cid-rB9Xlwkiqb .mbr-section-subtitle {
  color: #767676;
}
.cid-rB9Xlwkiqb H2 {
  color: #ffffff;
}
.cid-rB9xOSaUda {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rB9xOSaUda .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-rB9xOSaUda .section-text {
  padding: 2rem 0;
  color: #1b160e;
}
.cid-rB9xOSaUda .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-rB9xOSaUda .inner-container {
    width: 100% !important;
  }
}
.cid-rB9Vz9mYNl {
  padding-top: 60px;
  padding-bottom: 45px;
  background-color: #073b4c;
}
.cid-rB9Vz9mYNl .mbr-section-subtitle {
  color: #767676;
}
.cid-rB9Vz9mYNl H2 {
  color: #ffffff;
}
.cid-rB9O4Abesz {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-rB9O4Abesz .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-rB9O4Abesz .section-text {
  padding: 2rem 0;
}
.cid-rB9O4Abesz .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-rB9O4Abesz .inner-container {
    width: 100% !important;
  }
}
.cid-rB9YqBoGBr {
  background: #ffffff;
  padding-top: 30px;
  padding-bottom: 15px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}
.cid-rB9YqBoGBr .image-block {
  margin: auto;
}
.cid-rB9YqBoGBr figcaption {
  position: relative;
}
.cid-rB9YqBoGBr figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-rB9YqBoGBr .image-block {
    width: 100% !important;
  }
}
.cid-rBa0SBMttd {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rBa0SBMttd .mbr-section-subtitle {
  color: #232323;
}
.cid-rBa0SBMttd H2 {
  color: #1b160e;
}
.cid-rBa1o3C8z1 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ff7717;
}
.cid-rBa1o3C8z1 H3 {
  color: #ffffff;
}
.cid-rBa1o3C8z1 H1 {
  color: #74ff51;
}
.cid-rBa1o3C8z1 .mbr-text,
.cid-rBa1o3C8z1 .mbr-section-btn {
  color: #000000;
}
.cid-rwOTMrjJPQ {
  padding-top: 30px;
  padding-bottom: 45px;
  background-color: #232323;
}
.cid-rwOTMrjJPQ .media-container-row .mbr-text {
  color: #ffffff;
}
.cid-rH9thjoZan {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 30px;
}
.cid-rH9thjoZan .image-block {
  margin: auto;
}
.cid-rH9thjoZan figcaption {
  position: relative;
}
.cid-rH9thjoZan figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-rH9thjoZan .image-block {
    width: 100% !important;
  }
}
.cid-rH9t3tCjyI {
  background: #ffffff;
  padding-top: 15px;
  padding-bottom: 60px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}
.cid-rH9t3tCjyI .image-block {
  margin: auto;
}
.cid-rH9t3tCjyI figcaption {
  position: relative;
}
.cid-rH9t3tCjyI figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-rH9t3tCjyI .image-block {
    width: 100% !important;
  }
}
.cid-rwOTMrjJPQ {
  padding-top: 30px;
  padding-bottom: 45px;
  background-color: #232323;
}
.cid-rwOTMrjJPQ .media-container-row .mbr-text {
  color: #ffffff;
}
.cid-s3pgzOrq4k {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-s3pgzOrq4k .mbr-text,
.cid-s3pgzOrq4k .mbr-section-btn {
  color: #149dcc;
  text-align: left;
}
.cid-s3pgzPrEUq {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-s3pgzPrEUq .mbr-section-subtitle {
  color: #767676;
}
.cid-s3pgzPrEUq H2 {
  color: #232323;
}
.cid-s3pgzPYPvV {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-s3pgzPYPvV .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-s3pgzPYPvV .section-text {
  padding: 2rem 0;
  color: #1b160e;
}
.cid-s3pgzPYPvV .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-s3pgzPYPvV .inner-container {
    width: 100% !important;
  }
}
.cid-s3pgzV0iAd {
  padding-top: 30px;
  padding-bottom: 45px;
  background-color: #232323;
}
.cid-s3pgzV0iAd .media-container-row .mbr-text {
  color: #ffffff;
}
